$red-color: #e64448;
$yellow-color: #eab244;
$off-white-color: #e1e2df;

body {
  width: 400px;
  margin: auto;
  background-color: $red-color;
}

header {
  background-color: #fff;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: $red-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;

  h1 {
    color: #3c3a48;
  }

  p {
    color: $yellow-color;
  }
}

.bikes {
  background-color: $off-white-color;
  text-align: center;
}

.signup {
  display: block;
  background-color: #89c5c7;
  color: #0b354b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;

  h1 {
    color: #696c6d;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    display: block;
    margin-bottom: 20px;
  }
}

.about {
  display: block;
  background-color: $yellow-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;

  h1 {
    color: $red-color;
  }

  p {
    color: $off-white-color;
  }
}
