$red-color: #e64448;
$yellow-color: #eab244;
$off-white-color: #e1e2df;

@use "_local";
@use "_signup";
@use "_about";

body {
  width: 400px;
  margin: auto;
  background-color: $red-color;
}

header {
  background-color: #fff;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.bikes {
  background-color: $off-white-color;
  text-align: center;
}
